<md-sidenav-container [class.m2app-dark]="isDarkTheme">

    <md-sidenav #sidenav mode="push" class="app-sidenav">
      <div class="sidenav-toolbar">
        <md-toolbar color="primary">
          <button class="app-icon-button">
            <i class="material-icons app-toolbar-menu">explore</i>
          </button>

          Devbridge Lunch

          <span class="app-toolbar-filler"></span>
        </md-toolbar>
      </div>

      <sidenav-content ></sidenav-content>
    </md-sidenav>

    <!-- primary content -->

  <!--<md-sidenav #sidenav mode="side" class="app-sidenav">
    <md-nav-list>
      <a md-list-item href="page1.html">Page 1</a>
      <a md-list-item href="page2.html">Page 2</a>
      <a md-list-item href="page3.html">Page 3</a>
    </md-nav-list>
  </md-sidenav>-->

  <toolbar [sidenav]="sidenav"> </toolbar>

  <app-content></app-content>
</md-sidenav-container>
