<section class="mdl-stepper-demo">
  <md-card class="info-card">
    <h1>Hello There!</h1>
    <p>The purpose of this application is to advance the process of ordering lunch.</p>
    <p>Since this application is directly editing google spreadsheets, there are some limitations, <b>so please keep in mind</b>:</p>
    <ul>
      <li>Your name must be consistent between all sheets, <b>that is important!</b></li>
      <li>The software has not been fully tested and might contain bugs, so please <i>double check</i> your order in google sheets</li>
      <li>Your are allowed to edit until 11 AM of current day. <i>(But still keep in mind at what times you're actually allowed to edit)</i> You may also fill further days of current week.</li>
      <li>Your Document is edited on behalf of you, so it reflects in history of Google spreadsheets. By saying that, I mean <b> don't mess with other peoples names. </b></li>
      <li>You're free to leave some <b>feedback</b> about what you like and dislike. You can do that by clicking button at the top right corner.</li>
    </ul>
    <br>
    <section>
      <md-progress-bar
        class="example-margin"
        [color]="'primary'"
        [mode]="'determinate'"
        [value]="percentLoaded">
      </md-progress-bar>
    </section>
    <br>
    <section [hidden]="percentLoaded < 100" class="start-button">
      <button md-raised-button color="primary" (click)="start()">Get Started</button>
    </section>
  </md-card >

  <stepper-content [hidden]="!showStepper"></stepper-content>
</section>
