<div class="app-content">
  <md-card>
    <md-card-header>
      <md-card-title>Selected Dishes</md-card-title>
      <md-card-subtitle>Total Price: {{price| currency:'EUR':true:'1.2-2'}}</md-card-subtitle>
    </md-card-header>
    <selected-chips #chips (price)="onPriceChange($event)"></selected-chips>
  </md-card>

  <md-card *ngIf="!red">
    <md-progress-bar
      class="app-progress"
      mode="indeterminate"
      aria-label="Indeterminate progress-bar example"></md-progress-bar>
  </md-card >
  <md-card class="items-list" *ngIf="red" [class.left]="!!green">
      <md-card-header>
        <md-card-title>Punto Jazz</md-card-title>
        <md-card-subtitle>a.k.a. Raudonieji</md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <items-list [items]="red" (onSelect)="chips.modifyItems($event)"></items-list>
      </md-card-content>
  </md-card>

  <md-card class="items-list" *ngIf="green">
    <md-card-header>
      <md-card-title>www.pietaukskaniai.lt</md-card-title>
      <md-card-subtitle>a.k.a. Žalieji</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <items-list [items]="green" (onSelect)="chips.modifyItems($event)"></items-list>
    </md-card-content>
  </md-card>

<!--
  <md-card *ngIf="currentDay != 'monday'">
    <md-spinner class="app-spinner" *ngIf="showLoader"></md-spinner>
    <div *ngIf="!showLoader">
      <button md-button>FLAT</button>
      <button md-raised-button md-tooltip="This is a tooltip!">RAISED</button>
      <button md-raised-button color="primary">PRIMARY RAISED</button>
      <button md-raised-button color="accent">ACCENT RAISED</button>
    </div>

  </md-card>

  <md-card *ngIf="currentDay != 'tuesday'">
    <md-spinner class="app-spinner" *ngIf="showLoader"></md-spinner>
    <div *ngIf="!showLoader">
      <md-checkbox>Unchecked</md-checkbox>
      <md-checkbox [checked]="true">Checked</md-checkbox>
      <md-checkbox [indeterminate]="true">Indeterminate</md-checkbox>
      <md-checkbox [disabled]="true">Disabled</md-checkbox>
    </div>

  </md-card>

  <md-card *ngIf="currentDay != 'wednesday'">
    <md-spinner class="app-spinner" *ngIf="showLoader"></md-spinner>
    <div *ngIf="!showLoader">
      <h1>
        This is the main container
      </h1>

      <md-input-container>
        <input mdInput placeholder="Favorite food" value="Sushi">
      </md-input-container>
    </div>

  </md-card>


  <md-card *ngIf="currentDay != 'thursday'">
    <md-spinner class="app-spinner" *ngIf="showLoader"></md-spinner>
    <div *ngIf="!showLoader">
      <md-tab-group>
        <md-tab label="Earth">
          <p>EARTH</p>
        </md-tab>
        <md-tab label="Fire">
          <p>FIRE</p>
        </md-tab>
      </md-tab-group>
    </div>

  </md-card>

  <md-card>
    <md-spinner class="app-spinner" *ngIf="showLoader"></md-spinner>
    <div *ngIf="!showLoader">
      <label>
        Indeterminate progress-bar
        <md-progress-bar
          class="app-progress"
          mode="indeterminate"
          aria-label="Indeterminate progress-bar example"></md-progress-bar>
      </label>
    </div>

  </md-card>

  <md-card *ngIf="currentDay != 'friday'">
    <md-spinner class="app-spinner" *ngIf="showLoader"></md-spinner>
    <div *ngIf="!showLoader">
      <md-menu #menu="mdMenu">
        <button md-menu-item>Item1</button>
        <button md-menu-item>Item2</button>
        <button md-menu-item>Item3</button>
        <button md-menu-item>Item4</button>
      </md-menu>

      <button class="app-icon-button" [mdMenuTriggerFor]="menu" aria-label="Open anchor menu">
        <i class="material-icons">more_vert</i>
      </button>
    </div>
  </md-card>

<md-card>

</md-card>-->
</div>
