.mat-list, .mat-nav-list {
  border: 1px solid rgba(0, 0, 0, 0.12);
  margin: 20px 20px 0 0;

}
h2 {
  margin-top: 20px;
}

.mat-icon {
  color: rgba(0, 0, 0, 0.12);
}

.mat-list-icon {
  color: white;
  background: rgba(0, 0, 0, 0.3);
}

.demo-secondary-text {
  color: rgba(0, 0, 0, 0.54);
}

@media (min-width: 800px) {
  .items-list.left {
    left: 0;
    margin-left: 40px;
    position: absolute;
    display: inline-block;
    width: calc(50vw - 70px);
  }

  .items-list.right {
    right: 0;
    margin-right: 40px;
    position: absolute;
    display: inline-block;
    width: calc(50vw - 70px);
  }
}
