<!--
<md-expansion-panel [expanded]="step === index" (opened)="setStep()" hideToggle="true">
  <md-expansion-panel-header>
    <md-panel-title>
      {{provider.name ? provider.name : 'New Provider'}}
    </md-panel-title>
    <md-panel-description>
      Type the details of all dishes
      <md-icon>account_box</md-icon>
    </md-panel-description>
  </md-expansion-panel-header>

  <md-form-field>
    <input mdInput placeholder="Provider Name" [(ngModel)]="provider.name">
  </md-form-field>
  <md-divider></md-divider>

  <div class="category">
    <md-list>
      <md-form-field>
        <input mdInput placeholder="Category Name">
      </md-form-field>
      <md-list-item *ngFor="let folder of folders">
        <div class="dish">
          <md-form-field>
            <input mdInput placeholder="Dish Name">
          </md-form-field>

          <md-form-field>
            <input mdInput type="number" step="0.1" placeholder="Price €">
          </md-form-field>
        </div>
      </md-list-item>
    </md-list>
  </div>






  <md-action-row>
    <button md-button color="warn" (click)="prevStep()">Previous</button>
    <button md-button color="primary" (click)="nextStep()">Next</button>
  </md-action-row>
</md-expansion-panel>
-->
