<!--
<div class="app-content">
  <md-accordion class="example-headers-align">
    <md-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
      <md-expansion-panel-header>
        <md-panel-title>
          Details
        </md-panel-title>
        <md-panel-description>
          Comments, order time, etc.
          <md-icon>assignment</md-icon>
        </md-panel-description>
      </md-expansion-panel-header>

      <md-form-field>
        <input mdInput type="time" placeholder="Order until">
      </md-form-field>

      <md-slide-toggle
        class="example-margin"
        [color]="primary"
        [checked]="checked">
        Free of Charge
      </md-slide-toggle>

      <md-form-field class="comments">
        <textarea mdInput placeholder="Additional comments"></textarea>
      </md-form-field>

      <md-action-row>
        <button md-button color="primary" (click)="nextStep()">Next</button>
      </md-action-row>
    </md-expansion-panel>

    <provider-tab *ngFor="let provider of providers; let i = index" [provider]="provider" [(step)]="step" [index]="i"></provider-tab>
  </md-accordion>

</div>
-->
