<!--
<div class="category">
  <md-list>
    <md-form-field>
      <input mdInput placeholder="Category Name">
    </md-form-field>
    <md-list-item *ngFor="let dish of dishes">
      <div class="dish">
        <md-form-field>
          <input mdInput placeholder="Dish Name" [(ngModel)]="dish.name">
        </md-form-field>

        <md-form-field >
          <input mdInput type="number" step="0.1" placeholder="Price €" [(ngModel)]="dish.price">
        </md-form-field>
      </div>
    </md-list-item>
  </md-list>
</div>
-->
