<div class="sidenav-toolbar">
  <div class="sidenav-background">
    <img src="https://raw.githubusercontent.com/martis347/AzureApp/master/src/resources/db.ico" class="sidenav-icon"/>
    <h6>Devbridge Lunch</h6>
    <br>

    <div md-raised-button class="app-icon-button settings-panel" (click)="toggleDropdown()">
      <span><i>Martynas Kanapinskas</i></span>
      <div *ngIf="showingSettings">
        <img src="https://raw.githubusercontent.com/martis347/AzureApp/master/src/resources/arrow-down.png"
             class="user-menu-icon"/>
      </div>
      <div *ngIf="!showingSettings">
        <img src="https://raw.githubusercontent.com/martis347/AzureApp/master/src/resources/arrow-up.png"
             class="user-menu-icon"/>
      </div>
    </div>
  </div>
</div>

<menu-items [showingSettings]="showingSettings" (onDayClick)="onDayClickEvent($event)"></menu-items>
