<div *ngFor="let category of categories">
  <md-nav-list dense>
    <a md-list-item (click)="onToggle(category)">
    <span md-line >
      <span class="items-list-text">
        {{category}}
      </span>
      <img [src]=getDropdownImage(category) class="items-list-arrow"/>
    </span>
    </a>
    <div *ngIf="displayedCategories.indexOf(category) !== -1">
      <div *ngFor="let item of itemsByCategory(category)">
        <a md-list-item (click)="onItemClick(item)" *ngIf="!item.sideDishes || item.sideDishes.length < 2 || canOrder" [disableRipple]="canOrder">
            <img md-list-avatar [src]="getItemImage(item)">
            <span md-line>{{ item.name }}</span>
            <span md-line class="demo-secondary-text"> {{ item.price | currency:'EUR':true:'1.2-2'}} </span>
        </a>
        <a md-list-item (click)="onItemClick(item)" *ngIf="item.sideDishes && item.sideDishes.length > 1 && !canOrder" [mdMenuTriggerFor]="menu">
          <img md-list-avatar [src]="getItemImage(item)">
          <span md-line>{{ item.name }}</span>
          <span md-line class="demo-secondary-text"> {{ item.price | currency:'EUR':true:'1.2-2'}} </span>
        </a>
      </div>
    </div>
  </md-nav-list>
</div>

<div *ngIf="!isCategorized">
  <md-nav-list dense>
    <div *ngFor="let item of itemsByCategory(category)">
      <a md-list-item (click)="onItemClick(item)" [disableRipple]="canOrder">
        <img md-list-avatar [src]="getItemImage(item)">
        <span md-line>{{ item.name }}</span>
        <span md-line class="demo-secondary-text" *ngIf="item.price === 0"> {{ item.count }} </span>
        <span md-line class="demo-secondary-text" *ngIf="item.price !== 0"> {{ item.price | currency:'EUR':true:'1.2-2'}} </span>
      </a>
    </div>
  </md-nav-list>
</div>

<md-menu #menu="mdMenu" >
  <div *ngFor="let item of subItems" (click)="onSubItemClick(item)">
    <button md-menu-item>{{item}}</button>
  </div>
</md-menu>
