li > button {
  width: 100%;
  margin: 5px;
}

li {
  list-style-type: none;
}

ul {
  padding-left: 0;
}

.sidenav-icon {
  width: 45px;
  padding-right: 10px;
}

.sidenav-background {
  background: url('https://raw.githubusercontent.com/martis347/AzureApp/master/src/resources/sidenav background.jpg') no-repeat right bottom;
  background-size: 400px 400px;
  padding: 15px;
  height: 100px;
}

.sidenav-background > h5 {
  position: relative;
  top: 9px;
  font-size: 15px;
}

.sidenav-background > img {
  float: left;
}

.user-menu-icon {
  width: 18px;
  position: relative;
}

.settings-panel {
  top: 8px;
  width: 100%;
  display: block;
}

.settings-panel-arrow {
  position: absolute;
  right: 10px;
}

.settings-panel > span{
  font-size: 14px;
}

.settings-panel > div {
  display: inline;
}
