<section class="mdl-stepper-demo">

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
      <ul class="mdl-stepper mdl-stepper--linear" id="demo-error-state" #stepper>
        <li class="mdl-step">
            <span class="mdl-step__label">
              <span class="mdl-step__title">
                <span class="mdl-step__title-text">Sign In To Google Account</span>
                <span class="mdl-step__title-message">That Is Required For Google Sheets Authorization</span>
              </span>
            </span>
          <div class="mdl-step__actions">
            <div class="g-signin2" data-onsuccess="onSignIn"></div>
          </div>
        </li>
        <li class="mdl-step mdl-step--editable">
            <span class="mdl-step__label">
              <span class="mdl-step__title">
                <span class="mdl-step__title-text">Find Your Name</span>
              </span>
            </span>
          <div class="mdl-step__content">
            <md-input-container>
              <input type="text" mdInput [formControl]="myControl" [mdAutocomplete]="auto" placeholder="Name">
            </md-input-container>

            <md-autocomplete #auto="mdAutocomplete" [displayWith]="displayFn">
              <md-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{ option.name }}
              </md-option>
            </md-autocomplete>
          </div>
          <div class="mdl-step__actions">
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored mdl-button--raised" data-stepper-next (click)="onNext()">
              Continue
            </button>
          </div>
        </li>
        <li class="mdl-step">
            <span class="mdl-step__label">
              <span class="mdl-step__title">
                <span class="mdl-step__title-text">Save</span>
              </span>
            </span>
          <div class="mdl-step__content">
            <h5>You're All Set Up!</h5>
          </div>
          <div class="mdl-step__actions">
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored mdl-button--raised" data-stepper-next (click)="onDone()">
              Done
            </button>
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect" data-stepper-cancel (click)="onBack()">
              Back
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>

</section>
